.carousel {
	background-color: #7D7D7D;
	max-height: 30%;
	width: 100%;
	position: relative;
}

.carousel-slick {
	width: 100%;
	height: auto;
	position: relative;
}

.carousel-image {
	max-height: 100%;
	float: right;
}

.header {
	background-color: #003399;
	height: 10%;
	width: 100%;
}

.stream {
	background-color: #D8D8D8;
	height: 60%;
	width: 100%;
}

