.carousel {
	background-color: #7D7D7D;
	height: 30%;
	width: 100%
	display: inline-block;
}

.carousel-slick {
	width: 100%;
	height: auto;
}

.carousel-image {


}

.header {
	background-color: #003399;
	height: 10%;
	width: 100%;
	font-family: Novito_Nova;
    src: url(styles/NovitoNova/NovitoNova-Regular.otf);
    text-align: center
}	

.stream {
	background-color: #D8D8D8;
	height: 60%;
	width: 100%;
}

.grid-item { width: 200px; }
.grid-item--width2 { width: 400px; }
.grid-item img {
	width: 100%;
}
